In [ ]:
Intro to list data types

In [ ]:
Definition - A list is a collection of items declared in a particular order 
classification - it is classified as a mutable data type
how to define the list ??

In [2]:
students = ['vinoth', 'ramya', 'ayesha', 'sara' , 'david', 'naveen', 'ahmed']
print(students)

['vinoth', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed']

In [3]:
type(students)

list

In [ ]:
Introduction to indexing 
Indexing will be starting from 0, 1, 2 ..... and so on

In [4]:
# Reqt: I want to access ramya's name on the output

ramya

In [5]:
print(students[1])

ramya

In [ ]:
# Reqt: Print ramya in sentence case , with r in caps as Ramya

In [6]:
print(students[1].title())

Ramya

In [ ]:
# Reqt: I want to print sara's name as Sara

In [7]:
print(students[3].title())

Sara

In [8]:
print(students)

['vinoth', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed']

In [ ]:
# Reqt: I want to add kunal in the above list

In [9]:
students.append('kunal')

In [10]:
print(students)

['vinoth', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal']

In [ ]:
# Reqt: I want to add another name kalyani in the above list

In [16]:
students.append('kalyani')

In [19]:
print(students)

['vinoth', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [18]:
# Reqt: I want to add firdous to the 2nd index position

In [20]:
students.insert(2,'firdous')

In [21]:
print(students)

['vinoth', 'ramya', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [23]:
print(students[2].title())

Firdous

In [ ]:
*** Interview question - can you please explain what is the difference between append and insert method in a list 
Appends adds entries to the end/last of the list where as insert lets you to add items to the desired index position in a list

In [ ]:
1. How to add elements to the list
2. How to edit/alter the elements in the list 
3. How to delete the elements in the list

In [25]:
print(students)

['vinoth', 'ramya', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [ ]:
# Reqt - I want to change the name from vinoth to vani in the list

In [27]:
students[0] = 'vani'

In [28]:
print(students)

['vani', 'ramya', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [29]:
print(students)

['vani', 'ramya', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [ ]:
Deleting
1. Temporary deleting   ==> pop() ==> 
It will be creating a carbon copy of the deleted items and storing the values that has been assigned to it.
Note - By default it will be deleting the last element from the list 

2. Permanent deleting   ==> del method

In [30]:
x = students.pop()

In [31]:
print(students)

['vani', 'ramya', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal']

In [32]:
print(x)

kalyani

In [ ]:
# Reqt - I want to delete ramya

In [33]:
y = students.pop(1)

In [34]:
print(students)

['vani', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal']

In [ ]:
# Requirement to delete vani from the list above

In [36]:
del students[0]

In [37]:
print(students)

['firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal']

In [ ]:
*** Interview question - can you please explain the difference between remove and del methods in list