In [ ]:
Organising the list data type :

In [1]:
students = ['rajesh', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [2]:
print(students)

['rajesh', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [ ]:
# How to print naveed's name

In [3]:
print(students[1])

naveed

In [ ]:
# how to format in title format

In [4]:
print(students[1].title())

Naveed

In [5]:
cars = ['kia', 'audi', 'ciaz','benz', 'suzuki','bmw']

In [7]:
print(cars)

['kia', 'audi', 'ciaz', 'benz', 'suzuki', 'bmw']

In [ ]:
# How to arrange the above list in alphabetical order , asc : A-Z

In [ ]:
# approaches :

temp approach ---> sorting ---> we can retain the original order
permanent approach ----> sort ---> changes are applied permanently

In [ ]:
Incorrect method

In [10]:
print(sorting(cars))

NameError: name 'sorting' is not defined

In [ ]:
Correct method

In [11]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [ ]:
# how is benz and bmw getting validated ?

In [ ]:
It will be evaluating the second letter if first one matches

In [ ]:
# to show that the original order is retained and is not affecting the original list

In [ ]:
print(cars)

In [ ]:
# permanent approach to sort

In [12]:
cars.sort()

In [13]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [ ]:
# printing again to show order change is permanent

In [14]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [ ]:
******Interview Question - what is the difference between sorted and sort method in a list ?********
Sorted method sorts the list temporarily , the order of the list is not changed permanently 
sort method changes the order of the list permanently

In [ ]:
# How to print the list in the reverse order ?

In [15]:
print(cars)

['audi', 'benz', 'bmw', 'ciaz', 'kia', 'suzuki']

In [ ]:
reverse method to get the list in reverse order

In [16]:
cars.reverse()

In [17]:
print(cars)

['suzuki', 'kia', 'ciaz', 'bmw', 'benz', 'audi']

In [ ]:
list is displayed in the reverse order

In [ ]:
# how to count the number of elements present in the list ?

In [18]:
len(cars)

6

In [ ]:
Slicing of the list data type

In [19]:
print(students)

['rajesh', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [ ]:
# general syntax of slicing :

In [ ]:
print(list[start value : stop value : step count])

In [ ]:
note : stop value is always exclusive -->  +1 to include the stop value

In [ ]:
# How to include rajesh and naveed in a list ?

In [20]:
print(students[0:1])

['rajesh']

In [21]:
print(students[0:2])

['rajesh', 'naveed']

In [ ]:
# Include vindhya and asna in a list

In [22]:
print(students[2:4])

['vindhya', 'asna']

In [23]:
print(students[4:6])

['laiba', 'radhika']

In [ ]:
# How to use step count

In [24]:
print(students[0:8:2])

['rajesh', 'vindhya', 'laiba', 'nikhil']

In [25]:
print(students[0:8:2])

['rajesh', 'vindhya', 'laiba', 'nikhil']

In [26]:
print(students[0:4:4])

['rajesh']

In [28]:
print(students)

['rajesh', 'naveed', 'vindhya', 'asna', 'laiba', 'radhika', 'nikhil']

In [27]:
print(students[0:7:3])

['rajesh', 'asna', 'nikhil']